@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/proximanova-reg.woff") format("woff"), url("../fonts/proximanova-reg.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */ }

@font-face {
  font-family: 'ProximaNovaBold';
  src: url("../fonts/proximanova-bold.woff") format("woff"), url("../fonts/proximanova-bold.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */ }

/* line 4, ../scss/ie.scss */
.recent-posts li .title {
  background: url(../img/b70.png);
  color: #fff; }
/* line 9, ../scss/ie.scss */
.recent-posts .t1 .title {
  background: url(../img/w70.png);
  color: #000; }
