@font-face {
  font-family: 'ProximaNova';
  src: url("fonts/proximanova-reg.woff") format("woff"), url("fonts/proximanova-reg.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */ }

.recent-posts li .title,
.recent-posts li .type span {
  background: url(img/b70.png);
  color: #fff; }
.recent-posts li:nth-child(2) .title, .recent-posts li:nth-child(3) .title {
  background: url(img/w70.png);
  color: #000; }
